---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ hostvars[inventory_hostname]['ip'] }}
  bindPort: {{ kube_apiserver_port }}
nodeRegistration:
  criSocket: {{ cri_socket }}
  taints: null
  kubeletExtraArgs:
    - name: node-ip
      value: {{ hostvars[inventory_hostname]['ip'] }}
{% if upload_certs %}
certificateKey: {{ kubeadm_certificate_key | default('') }}
{% endif %}

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: {{ kube_version }}
clusterName: {{ cluster_name }}
{% if groups['kube_control_plane'] | length > 1 %}
{% if apiserver_loadbalancer_domain_name is defined %}
controlPlaneEndpoint: {{ apiserver_loadbalancer_domain_name }}:{{ loadbalancer_apiserver_port | default(6443) }}
{% elif kube_control_plane_endpoint is defined %}
controlPlaneEndpoint: {{ kube_control_plane_endpoint }}
{% endif %}
{% endif %}
networking:
  serviceSubnet: {{ kube_service_addresses }}
  podSubnet: {{ kube_pods_subnet }}
  dnsDomain: {{ dns_domain }}
apiServer:
  certSANs:
    - localhost
    - 127.0.0.1
    - kubernetes
    - kubernetes.default
    - kubernetes.default.svc
    - kubernetes.default.svc.{{ dns_domain }}
    - {{ hostvars[inventory_hostname]['ip'] }}
{% if hostvars[inventory_hostname]['access_ip'] is defined %}
    - {{ hostvars[inventory_hostname]['access_ip'] }}
{% endif %}
{% for item in groups['kube_control_plane'] %}
    - {{ hostvars[item]['ip'] }}
{% if hostvars[item]['access_ip'] is defined %}
    - {{ hostvars[item]['access_ip'] }}
{% endif %}
    - {{ hostvars[item]['ansible_hostname'] }}
{% endfor %}
{% if apiserver_loadbalancer_domain_name is defined %}
    - {{ apiserver_loadbalancer_domain_name }}
{% elif kube_control_plane_endpoint is defined %}
{% set lb_host = kube_control_plane_endpoint.split(':')[0] %}
    - {{ lb_host }}
{% endif %}
{% if kube_load_balancer_public_ip is defined %}
    - {{ kube_load_balancer_public_ip }}
{% endif %}
{% if kube_load_balancer_private_ip is defined %}
    - {{ kube_load_balancer_private_ip }}
{% endif %}
{% if supplementary_addresses_in_ssl_keys is defined %}
{% for item in supplementary_addresses_in_ssl_keys %}
    - {{ item }}
{% endfor %}
{% endif %}
etcd:
  local:
    dataDir: /var/lib/etcd
    serverCertSANs:
      - localhost
      - 127.0.0.1
      - {{ hostvars[inventory_hostname]['ip'] }}
{% if hostvars[inventory_hostname]['access_ip'] is defined %}
      - {{ hostvars[inventory_hostname]['access_ip'] }}
{% endif %}
{% for item in groups['kube_control_plane'] %}
      - {{ hostvars[item]['ip'] }}
{% if hostvars[item]['access_ip'] is defined %}
      - {{ hostvars[item]['access_ip'] }}
{% endif %}
      - {{ hostvars[item]['ansible_hostname'] }}
{% endfor %}
    peerCertSANs:
      - localhost
      - 127.0.0.1
      - {{ hostvars[inventory_hostname]['ip'] }}
{% if hostvars[inventory_hostname]['access_ip'] is defined %}
      - {{ hostvars[inventory_hostname]['access_ip'] }}
{% endif %}
{% for item in groups['kube_control_plane'] %}
      - {{ hostvars[item]['ip'] }}
{% if hostvars[item]['access_ip'] is defined %}
      - {{ hostvars[item]['access_ip'] }}
{% endif %}
      - {{ hostvars[item]['ansible_hostname'] }}
{% endfor %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
serverTLSBootstrap: true
rotateCertificates: true
