@theme {
    --color-owly-blue-0: #f7faff;
    --color-owly-blue-100: #e2f3fd;
    --color-owly-blue-200: #cbe5fe;
    --color-owly-blue-300: #89b4fa;
    --color-owly-blue-400: #629bfb;
    --color-owly-blue-500: #3b82f6;
    --color-owly-blue-600: #295ee0;
    --color-owly-blue-700: #1d4cbe;
    --color-owly-blue-800: #182f73;
    --color-owly-blue-900: #0c1a31;
    --color-owly-brown-0: #faf8f7;
    --color-owly-brown-100: #ded5cf;
    --color-owly-brown-200: #bdac9f;
    --color-owly-brown-300: #9d826e;
    --color-owly-brown-400: #7c593e;
    --color-owly-brown-500: #5b2f0e;
    --color-owly-brown-600: #49260b;
    --color-owly-brown-700: #371c08;
    --color-owly-brown-800: #241306;
    --color-owly-brown-900: #120903;
    --color-owly-gray-0: #ffffff;
    --color-owly-gray-10: #faf7f5;
    --color-owly-gray-20: #f6f3f1;
    --color-owly-gray-30: #ece9e7;
    --color-owly-gray-40: #e0dcd9;
    --color-owly-gray-50: #c4c0bc;
    --color-owly-gray-60: #b6b2af;
    --color-owly-gray-70: #aaa6a3;
    --color-owly-gray-80: #9c9896;
    --color-owly-gray-90: #8e8985;
    --color-owly-gray-100: #807c78;
    --color-owly-gray-200: #716d6a;
    --color-owly-gray-300: #63605d;
    --color-owly-gray-400: #575452;
    --color-owly-gray-500: #494745;
    --color-owly-gray-600: #3d3b39;
    --color-owly-gray-700: #2d2b2a;
    --color-owly-gray-800: #1f1e1d;
    --color-owly-gray-900: #131111;
    --color-owly-green-0: #f9fcf9;
    --color-owly-green-100: #e1f2df;
    --color-owly-green-200: #c3e6bf;
    --color-owly-green-300: #a5d99e;
    --color-owly-green-400: #87cd7e;
    --color-owly-green-500: #69c05e;
    --color-owly-green-600: #549a4b;
    --color-owly-green-700: #3f7338;
    --color-owly-green-800: #2a4d26;
    --color-owly-green-900: #152613;
    --color-owly-orange-0: #fffaf5;
    --color-owly-orange-100: #fee8cc;
    --color-owly-orange-200: #ffd889;
    --color-owly-orange-300: #fec667;
    --color-owly-orange-400: #ffb02f;
    --color-owly-orange-500: #fa8a00;
    --color-owly-orange-600: #d76101;
    --color-owly-orange-700: #b04a00;
    --color-owly-orange-800: #7b3400;
    --color-owly-orange-900: #5a2400;
    --color-owly-pink-100: #fce7fb;
    --color-owly-pink-200: #f9d0f7;
    --color-owly-pink-300: #f5b8f3;
    --color-owly-pink-400: #f2a1ef;
    --color-owly-pink-500: #ef89eb;
    --color-owly-pink-600: #bf6ebc;
    --color-owly-pink-700: #8f528d;
    --color-owly-pink-800: #60375e;
    --color-owly-pink-900: #301b2f;
    --color-owly-purple-100: #eeddfd;
    --color-owly-purple-200: #dcbbfc;
    --color-owly-purple-300: #cb99fa;
    --color-owly-purple-400: #b977f9;
    --color-owly-purple-500: #a855f7;
    --color-owly-purple-600: #8644c6;
    --color-owly-purple-700: #653394;
    --color-owly-purple-800: #432263;
    --color-owly-purple-900: #221131;
    --color-owly-red-0: #fef8f8;
    --color-owly-red-100: #fcdada;
    --color-owly-red-200: #f9b4b4;
    --color-owly-red-300: #f58f8f;
    --color-owly-red-400: #f26969;
    --color-owly-red-500: #ef4444;
    --color-owly-red-600: #bf3636;
    --color-owly-red-700: #8f2929;
    --color-owly-red-800: #601b1b;
    --color-owly-red-900: #300e0e;
    --color-owly-tangelo-100: #fbe3d5;
    --color-owly-tangelo-200: #f8c7ac;
    --color-owly-tangelo-300: #f4a882;
    --color-owly-tangelo-400: #f18f59;
    --color-owly-tangelo-500: #ed732f;
    --color-owly-tangelo-600: #be5c26;
    --color-owly-tangelo-700: #8e451c;
    --color-owly-tangelo-800: #5f2e13;
    --color-owly-tangelo-900: #2f1709;
    --color-owly-yellow-100: #fff5cc;
    --color-owly-yellow-200: #ffec99;
    --color-owly-yellow-300: #ffe266;
    --color-owly-yellow-400: #ffde31;
    --color-owly-yellow-500: #ffcf00;
    --color-owly-yellow-600: #e7a200;
    --color-owly-yellow-700: #9c6200;
    --color-owly-yellow-800: #703e01;
    --color-owly-yellow-900: #542a00;
    --color-owly-white-100: #ffffff;
    --color-owly-white-50: rgba(255, 255, 255, 0.5);
    --color-owly-white-20: rgba(255, 255, 255, 0.2);
    --color-owly-white-10: rgba(255, 255, 255, 0.1);
    --color-owly-white-5: rgba(255, 255, 255, 0.05);
    --color-owly-black-100: #000000;
    --color-owly-black-50: rgba(0, 0, 0, 0.5);
    --color-owly-black-20: rgba(0, 0, 0, 0.2);
    --color-owly-black-10: rgba(0, 0, 0, 0.1);
    --color-owly-black-5: rgba(0, 0, 0, 0.05);
    --color-owly-background-primary: var(--white-100);
    --color-owly-background-hover: var(--gray-20);
    --color-owly-background-pressed: var(--gray-10);
    --color-owly-background-selected: var(--blue-100);
    --color-owly-background-disabled: var(--gray-20);
    --color-owly-background-inverse: var(--gray-800);
    --color-owly-background-brand: var(--brown-500);
    --color-owly-background-brand-hover: var(--brown-600);
    --color-owly-background-brand-pressed: var(--brown-700);
    --color-owly-background-brand-disabled: var(--gray-20);
    --color-owly-background-secondary: var(--gray-10);
    --color-owly-background-secondary-hover: var(--gray-20);
    --color-owly-background-secondary-pressed: var(--gray-30);
    --color-owly-background-info: var(--blue-500);
    --color-owly-background-info-subtle: var(--blue-0);
    --color-owly-background-positive: var(--green-500);
    --color-owly-background-positive-subtle: var(--green-0);
    --color-owly-background-negative: var(--red-200);
    --color-owly-background-negative-hover: var(--red-600);
    --color-owly-background-negative-pressed: var(--red-700);
    --color-owly-background-negative-subtle: var(--red-0);
    --color-owly-background-notice: var(--orange-500);
    --color-owly-background-notice-subtle: var(--orange-0);
    --color-owly-background-hover: var(--gray-20);
    --color-owly-border-primary: var(--gray-100);
    --color-owly-border-secondary: var(--gray-60);
    --color-owly-border-tertiary: var(--gray-40);
    --color-owly-border-disabled: var(--gray-40);
    --color-owly-border-focus: var(--blue-500);
    --color-owly-border-brand: var(--brown-600);
    --color-owly-border-inverse: var(--gray-0);
    --color-owly-border-info: var(--blue-500);
    --color-owly-border-notice: var(--orange-500);
    --color-owly-border-negative: var(--red-200);
    --color-owly-border-positive: var(--green-500);
    --color-owly-border-highlight: var(--purple-500);
    --color-owly-overlay-primary: var(--gray-900);
    --color-owly-overlay-secondary: rgba(17, 17, 17, 0.2);
    --color-owly-content-primary: var(--gray-900);
    --color-owly-content-secondary: var(--gray-600);
    --color-owly-content-tertiary: var(--gray-200);
    --color-owly-content-tertiary-inverse: var(--gray-60);
    --color-owly-content-primary-inverse: var(--gray-0);
    --color-owly-content-secondary-inverse: var(--gray-10);
    --color-owly-content-tertiary-inverse: var(--gray-50);
    --color-owly-content-brand: var(--brown-500);
    --color-owly-content-link: var(--blue-500);
    --color-owly-content-link-hover: var(--blue-600);
    --color-owly-content-link-pressed: var(--blue-700);
    --color-owly-content-notice: var(--orange-500);
    --color-owly-content-notice-bold: var(--orange-700);
    --color-owly-content-negative: var(--red-500);
    --color-owly-content-negative-bold: var(--red-700);
    --color-owly-content-positive: var(--green-500);
    --color-owly-content-positive-bold: var(--green-700);
    --color-owly-content-highlight: var(--purple-500);
    --color-owly-content-highlight-bold: var(--purple-700);
    --color-owly-content-disabled: var(--gray-60);
    --color-owly-content-info: var(--blue-500);
    --color-owly-content-info-bold: var(--blue-600);
}
